{% extends 'user/index.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('reload') }}
{% endblock %}
{% block content %}
	<div class="alert alert-warning center" role="alert">
		<h5>{{ 'current_word'|trans }}</h5>
		<h3>{{ currentWord }}</h3>
	</div>
	<div class="alert alert-danger center" role="alert">
		<h5>{{ 'players'|trans }}</h5>
		<h3>{{ usersWithCurrentWord }}</h3>
	</div>

	<div class="alert alert-info center" role="alert">
		<h5>{{ 'current_topic'|trans }}</h5>
		<h3>{{ topic }}</h3>
	</div>

	<ul class="list-group">
		{% for word in words %}
			<li class="list-group-item list-group-item-success">{{ word.word }}</li>
		{% endfor %}
	</ul>

{% endblock %}
