{% extends 'admin/index.html.twig' %}
{% block content %}
	<div class="alert alert-warning center" role="alert">
		<h5>{{ 'current_word'|trans }}</h5>
		<h3>{{ currentWord }}</h3>
	</div>
	<div class="alert alert-danger center" role="alert">
		<h5>{{ 'players'|trans }}</h5>
		<h3>{{ usersWithCurrentWord }}</h3>
	</div>

	<div class="alert alert-info center" role="alert">
		<h5>{{ 'current_topic'|trans }}</h5>
		<h3>{{ topic }}</h3>
	</div>

	<form method="post">
		<input type="hidden" name="{{ buttonAction }}"><br>
		<input type="submit" value="{{ buttonName }}">
	</form>
{% endblock %}
